@model Project02.Models.StudentInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Student</h1>
<hr />
      <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3" id="content01">
                <div class="col-sm-3 col-form-label">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-3 col-form-label">
                    <label asp-for="Class" class="control-label"></label>
                    <input asp-for="Class" class="form-control" />
                    <span asp-validation-for="Class" class="text-danger"></span>
                </div>
                @*<div class="col-sm-2">
                    <label  class="control-label"></label>
                    <a id="Addbutton" href="#"><i class="fa-solid fa-2x fa-plus"></i></a>
                    
                </div>*@
            </div>
            <h2>Create dynamic button and text box creations using javascript</h2>
            <div id="object_data"></div>
            <button type="button" name="add_button" value="Add New" id="add_button" class="btn btn-primary my-2"> Add New </button>

            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a class="btn btn-outline-danger" href="/">Cancel</a>
             </div>

            
      </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var i = 1; // define global variable i to loop the button click event as much as we want
                $(document).ready(function() {
                      $("#add_button").click(function() {
                        alert("button clicked.");




                        let content = `<div class="col-sm-3 col-form-label">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3 col-form-label">
                            <label asp-for="Class" class="control-label">Class</label>
                            <input asp-for="Class" class="form-control" />
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>`;

                $("#content01").append(content);

                      });
                });
        </script>
}
